
.main-section{
  padding: 15px;
  background:#f1f1f1;
}


.title{
  text-align:center;
  margin:10pt;
  font-family: "Arial", Helvetica, sans-serif;
}
  .climatebox{
    text-align:center;
  }

.circle
{
width:40pt;
height:40pt;
border-radius:50%;
border-style: solid;
border-width: thin;
font-size:12pt;
line-height:40pt;
text-align:center;
margin:auto;
font-family: "Arial", Helvetica, sans-serif;
}
.climate
{
  
  margin: 15pt;
  text-align:center;
  max-width: 30%;
  display:inline-block
}
.description
{
  margin-top:10pt;
  text-align:center;
  max-width: 100pt;
  font-size:10pt;
  color: #000;
  font-family: "Arial", Helvetica, sans-serif;
}